<!DOCTYPE html>
<html>
	<head>
	  	<title><%= full_title(yield(:title)) %></title>
	  	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="content">
			<%= render 'layouts/header' %>
			<nav id="navigation">
				<tr>
					<td><%= link_to "Home", '#' %></td>
					<td><%= link_to "Posts", '#' %></td>
					<td><%= link_to "About", '#' %></td>
					<td><%= link_to "Contact", '#' %></td>
				</tr>
			</nav>
			<div>
				<hr>
					<blockquote>
						<%= yield %>	
					</blockquote>
				<hr>	
			</div>
		</div>
	</body>
	<footer id="footer"><%= render 'layouts/footer' %></footer>
</html>
